<div class="register-container">
  <div class="register-form-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        formControlName="firstName"
        placeholder="First Name"
        required
      />
      <input
        type="text"
        formControlName="lastName"
        placeholder="Last Name"
        required
      />
      <input
        type="text"
        formControlName="username"
        placeholder="Username"
        required
      />
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
        required
      />
      <input
        type="text"
        formControlName="address"
        placeholder="Address"
        required
      />
      <button type="submit">Register</button>
    </form>
    <p class="switch-link">
      Already have an account? <a routerLink="/auth/login">Login here</a>
    </p>
  </div>
</div>
